*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading{
    margin: 20px;
    text-align: center;
    color: crimson;
}

.taskbar{
    display: flex;
    gap: 40px;
    text-align: center;
    justify-content: center;
    margin: 10px;
}

.content{
    margin-left: 150px;
    margin-right: 150px;
    padding: 100px;
}

.text{
    padding: 15px;
    /* border: 2px solid black; */
    align-items: center;
}

.text2{
    padding: 15px;
    margin: 10px;
    /* border: 2px solid darkblue; */
    align-items: center;
}

.box1{
    display: flex;
}

.team-codecafe{
    display: flex;
}

.CEO{
    display: flex;
}

.button{
    border: 2px solid blue;
    color: white;
    background-color: blue;
}

h2{
    text-transform: uppercase;
    margin: 10px;
}

p{
    padding: 50px;
}